<!DOCTYPE html>
<html lang="en" ng-app="gryphonApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gryphon Games</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body ng-controller="GryphonController as ctrl">

  <div>
    <h1>{{ctrl.name}}</h1>
  </div>

  <form>
    <address-widget></address-widget>
  </form>

  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>

</html>