<div class="form-group">
  <label for="addressLine1">Address Line 1</label>
  <input type="text" class="form-control" id="addressLine1">
</div>
<div class="form-group">
  <label for="addressLine2">Address Line 2</label>
  <input type="text" class="form-control" id="addressLine2">
</div>
<div class="form-group">
  <label for="city">City</label>
  <input type="text" class="form-control" id="city">
</div>
<div class="form-group">
  <label for="state">State</label>
  <input type="text" class="form-control" id="state">
</div>
<div class="form-group">
  <label for="postalCode">Postal Code</label>
  <input type="text" class="form-control" id="postalCode">
</div>