<div class="form-group">
  <label for="firstName">First Name</label>
  <input type="text" class="form-control" id="firstName">
</div>
<div class="form-group">
  <label for="lastName">Last Name</label>
  <input type="text" class="form-control" id="lastName">
</div>
<address-form></address-form>
<div class="form-group">
  <label for="primaryPhone">Primary Phone</label>
  <input type="text" class="form-control" id="primaryPhone">
</div>
<div class="form-group">
  <label for="email">Email</label>
  <input type="text" class="form-control" id="email">
</div>